[submodule ".registry"]
	path = .registry
	url = https://github.com/favstats/favstats.r-universe.dev
	branch = HEAD
[submodule "dashboardr"]
	path = dashboardr
	url = https://github.com/favstats/dashboardr
