[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "peRspective"]
	path = peRspective
	url = https://github.com/favstats/perspective
